<style>
.mdc-list{
    position: fixed;  
  }

</style>
<aside class="mdc-drawer mdc-drawer--dismissible">
  <div class="mdc-drawer__content">

    {% if modo == "demo" %}
    <div class="mdc-list">
      <a class="mdc-list-item " href="/demodata" aria-current="page">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">description</i>
          <span class="mdc-list-item__text" >Grafica</span>
      </a>
    <a class="mdc-list-item" href="/demomapa">
      <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
      <span class="mdc-list-item__text">Mapa</span> 
  </a>
  <a class="mdc-list-item" href="/">
    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">meeting_room</i>
    <span class="mdc-list-item__text">Salir</span>
</a>
  <h5>Hola, invitado</h5>

    
    {% else %}

      <div class="mdc-list">
            <a class="mdc-list-item " href="/data" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">description</i>
                <span class="mdc-list-item__text" >Grafica</span>
            </a>
          <a class="mdc-list-item" href="/mapa">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
            <span class="mdc-list-item__text">Mapa</span> 
        </a>
          <a class="mdc-list-item" href="/logout">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">meeting_room</i>
              <span class="mdc-list-item__text">Cerrar sesión</span>
          </a>
           <h5>Hola, {{ request.user.first_name}}</h5>
           
      </div>
      {% endif %}
  </div>
</aside>

<div class="mdc-drawer-app-content">
  <header class="mdc-top-app-bar app-bar" id="app-bar">
      <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
              <span class="mdc-top-app-bar__title">{{ title }}</span>
          </section>
      </div>
  </header>
