<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <style>
        #mapid {
            height: 480px;
            width: 100%;
        }
    </style>
</head>


<body>

    <h3> Datos de sensores </h3>
    <div> 
        <h4> Mapa de los sensores colocados </h4>
    </div>
    <div>
        <h5>Cantidad de sensores colocados: {{ datos.codigos|length }}</h5>
    </div>
    <div>
        <form method="POST" id="formulario" onchange="consulta()">
            {% csrf_token %}
            <label for="lname">Dispositivos:</label> <br>
            <select id="select_dispositivo" class="form-control w-75" name="select_dispositivo">
                <option value="0" id="0" latitud="-26.56" longitud="-58.56" selected> Paraguay</option>
            </select> <br>
        </form>
    </div>

    <div id="mapid"></div>

</body>
<script>
    {% autoescape off %}
    datos = {{ datos }}
    {% endautoescape %}
    console.log(datos) 
    var com = document.getElementById("select_dispositivo")

    for (var index = 0; index < datos.codigos.length; index++) {
        var opciones = document.createElement('option')//agregamos las opciones 
        console.log(index)
        opciones.setAttribute('id', datos.codigos[index]);
        opciones.setAttribute('latitud', datos.lat[index]);
        opciones.setAttribute('longitud', datos.long[index])
        var texto = document.createTextNode(datos.codigos[index])
        opciones.appendChild(texto)
        com.appendChild(opciones)
    }

    var mymap = L.map('mapid').setView([-25.29807590273343, -57.59930298053507], 10);
    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Rxa6eCNYkQOw43Wn9BFH', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token',
        crossOrigin: true
    }).addTo(mymap);

    for (var i = 0; i < datos.valores.length; i++) {
        marker = new L.marker([datos.lat[i], datos.long[i]])
            .bindPopup('<h3> Codigo: ' + datos.codigos[i] + '</h3> <h5> Ultima medicion: ' + datos.valores[i] + 'C*</h5>')
            .addTo(mymap);
    }


    var latitud = -26.8691035
    var longitud = -58.3146596
    mymap.setView([latitud, longitud], 8) 
    //end of main js 
    function consulta() {
        var com = document.getElementById("select_dispositivo").value
        var option = document.getElementById(com.toString())
        var latitud = option.getAttribute("latitud")
        var longitud = option.getAttribute("longitud")
        mymap.setView([latitud, longitud], 14)
    }


</script>
</body>

</html>