<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natanapp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   

    {% comment %} css del leaflet {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />


    <style>
        #mapid {
            height: 480px;
            width: 100%;
        }
    </style>
</head>


<body>

    <h3>Natan </h3>
    <div>
        <h4> Mapa de las Comunidades anotadas</h4>

    </div>
    <div>
        <h5>Cantidad de Comunidades registradas: {{cantidad_comunidades}}</h5>
    </div>
    <div>

        <form method="POST" id="formulario" onchange="consulta()">
            {% csrf_token %}
            <label for="lname">Dispositivos:</label><br>
            <select id="select_comunidad" class="form-control w-75" name="listo">
                {% for item in geo %}
                <option value="{{item.id}}" id="{{item.id}}" latitud="{{item.ubicacion.latitud}}"
                    longitud="{{item.ubicacion.longitud}}">{item.ciudad}}</option>
                {% endfor %}
            </select><br>

            <!-- <input type="submit" value="Subir"> -->
        </form>
    </div>

    <div id="mapid"></div>
    </div>
    </main>
</body>
<script>
    {% autoescape off %}
    datos = {{ datos }}
    {% endautoescape %}
    console.log(datos)
    var com = document.getElementById("select_comunidad").value
    var option = document.getElementById(com.toString())
    console.log(datos)
    
    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Rxa6eCNYkQOw43Wn9BFH', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token',
        crossOrigin: true
    }).addTo(mymap);
    var mymap = L.map('mapid').setView([-25.29807590273343, -57.59930298053507], 10);
    var plano = new Array();
    var index = 0; //para recorrer la lista
    var lista_aux = new Array();
    for (index = 0; index < datos.length; index++) {
        lista_aux = ['<h2>Comunidad: ' + datos[index].nombre + '</h2>' + '<h4>Responsable: ' + datos[index].responsable + "</h4>" + '<h5>Teléfono: ' + datos[index].telefono_responsable + '</h5>' + "<h4>Meta: " + datos[index].meta + "</h4> <h5>Descripcion: " + datos[index].observacion + '</h5>', datos[index].ubicacion.latitud, datos[index].ubicacion.longitud, datos[index].entregado, datos[index].listo];
        plano.push(lista_aux);// agregamos al array
    }

    for (var i = 0; i < datos.valores.length; i++) {
        marker = new L.marker([datos.lat[i], datos.long[i] ])
            .bindPopup( ' <h3> Codigo: '+ datos.codigo[i]+ '</h3> '    )
            .addTo(mymap);
    }


    var latitud = option.getAttribute("latitud")
    var longitud = option.getAttribute("longitud")
    mymap.setView([latitud, longitud], 12)
    //end of main js 
    function consulta() {
        var com = document.getElementById("select_comunidad").value
        var option = document.getElementById(com.toString())
        var latitud = option.getAttribute("latitud")
        var longitud = option.getAttribute("longitud")
        mymap.setView([latitud, longitud], 12)
    }


</script>
</body>

</html>